/* reset */
html, body, h2, h3, a{
    padding: 0;
    margin: 0;
}

/* Header */
.header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}
.header a:hover{
    color: burlywood;
}
.header {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.header .menu ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


/* Gambar */
.kepala .image {
    background-image: url(img/gambar.jpg);
    min-height: 350px;
    background-size: cover;
    background-position: center;
}

/* Pengertian Css */
.artikel .css {
    margin-right: 20px;
}
.artikel .css h3 {
    font-size: 25px;
    color: rgb(109, 50, 1);
}
.artikel .css p{
    font-size: 20px;
    line-height: 1.5;
}

/* Css Internal */
.artikel .author {
    font-size: 12px;
}
.artikel .publiser a{
    text-decoration: none;
    color: #333;
}
.publiser a:hover{
    color: burlywood;
}
.artikel .internal h3 {
    font-size: 25px;
    color: rgb(109, 50, 1);
}
.internal p, .internal li{
    font-size: 20px;
    line-height: 1.5;
}
/* Css Eksternal */
.artikel .eksternal h3 {
    font-size: 25px;
    color: rgb(2, 92, 47);
}
.eksternal p, .eksternal li{
    font-size: 20px;
    line-height: 1.5;
}

/* main */
.main{
    width: auto;
}


.draff h3{
    font-size: 30px;
}
.draff ul li{
    margin-left: -50px;
    padding-bottom: 10px;
}
.draff a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.draff a:hover{
    font-style: italic;
    color: burlywood;
}

/* profile */
.profile .pr{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}
.profile {
    width: 300px;
    height: 300px;
}
.profile .nama {
    font-weight: bold;
}
@media screen and (max-width: 960px) {
    .container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1.5fr 0.5fr; 
        grid-template-areas: 
          "main"
          "sidebar"; 
        height: 4000px;
      }
      .main { 
        grid-area: main;
        display: grid;
        grid-template-areas: 
            'kepala'
            'artikel';
    }
      .sidebar { 
        display: grid;
        grid-template-areas: 
            'draff'
            'profile';
        grid-area: sidebar;
        height: 700px;
        margin-top: -450px;
        }
        div.profile, .profile p.bio, .draff {
            align-items: center;
            text-align: center;
        }
        .main .artikel{
            margin-top: -10px;
        }

}

@media screen and (max-width: 560px) {
    .container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1.5fr 0.5fr; 
        grid-template-areas: 
          "main"
          "sidebar"; 
        height: 5400px;
      }
      .main { 
        grid-area: main;
        display: grid;
        grid-template-areas: 
            'kepala'
            'artikel';
         width : 80%;
    }
      .sidebar { 
        display: grid;
        grid-template-areas: 
            'draff'
            'profile';
        grid-area: sidebar;
        height: 700px;
        margin-top: -450px;
        }
        .main .artikel{
            margin-top: -10px;
        }

}
